*{box-sizing: border-box;
    font-family:'Segoe UI', sans-serif;
    margin: 0;
    padding:0;
    color: #ffffff;}

.nav-wrap{background:#14181f;
    box-shadow:0 2px 4px #000000;
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;}

.container{padding:24px;
    max-width: 1100px;
    margin:auto;
    width:100%}

.nav{display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 0}

.brand{display:flex end;
    font-size:24px;
    font-weight: 100; 
    color:#ffffff;
    font-weight: bold;
    margin-left:0px;}

.brand span{color:#5392aa;
    font-weight: bold}

nav a{margin-left: 1cm;
    font-size: 16px;
    gap:5px;
    text-decoration:none;}

 .first-section{background:linear-gradient(180deg,#121216 0%, #0d132b 100%);
     padding: 100px 0;
     align-items: center;
     height:20cm;
     position: relative;
     overflow: hidden;
}

.first-inner{ display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 40px;
    position: relative;
    z-index: 2;

}

#galaxy{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    display:block;
    z-index:1;
    pointer-events:none;
}

.btn{background-color: transparent;
    padding:10px 20px;
    transition: transform 0.3s ease;
    color:#ffffff;
     border-radius: 5px;
     text-decoration: none;
    box-shadow: 0 0 2px #fff, 0 0 4px #ffffff, 0 0 14px rgb(255, 255, 255);}

.btn:hover{transform:scale(1.05); background-image: linear-gradient(to right, #ee63e2, #5faaff);}

.btn.big{box-shadow: 2px 4px 6px  #ffffff;
    transition:transform 0.5s ease-in-out;
    text-decoration:none;
    font-weight: bold;
    color: #ffffff;
    padding:15px 30px;
    border-radius: 5px;
    background-color: transparent;}

.btn.big:hover{transform:scale(1.05); background-image: linear-gradient(to right, #ee63e2, #5faaff);}


.first-img{transition:transform 2s;
    flex:1;display:flex end;
    position:absolute;
    margin-top: 4cm;
    margin-left: 16cm;}

:hover .first-img{transform:rotateY(180deg);}

.first-text h1{
  -webkit-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #5fc2ff, #b144a8);
    display: inline-block;
    color:transparent;
    font-size:40px;
    margin-bottom:20px;
    margin-top:5cm;
    margin-right:13cm;}

.first-text p{font-size:20px;
    margin-bottom:30px;
    color:rgb(226, 217, 217);
    margin-right:13cm}

.section{padding:60px 0;
    text-align:center;
    background-color:#0c121e}

.section.alt{background-color:#0b1025}

.IEEE.btn{background-color:#5392aa;
    color:#ffffff;
    padding:15px 30px;
    border-radius: 5px;
    text-decoration:none;
    font-weight:bold;
    transition: transform 0.3s ease-in-out;}

.IEEE.btn:hover{transform:scale(1.03);}

.stats{margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 24px;}

.stats > div{transition:transform 0.3s ease-in-out;
    background-color:	#5392aa;
    padding:20px 30px;
    border-radius: 8px;}

.stats > div:hover{transform:scale(1.03);}

.container h2{
    font-size:32px;
    margin-bottom:40px;
    margin-left:1px;
    margin-top: 20px;
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #5fc2ff, #b144a8);
    display: inline-block;
}

.container p{font-size:16px;
    line-height:1.6;
    margin-bottom:40px;
    color:rgb(226, 217, 217);}

.card{background-color:#0b1025;
    padding:40px;
    border-radius: 20px;
    box-shadow:0 8px 20px rgb(255, 255, 255);
    transition: transform 0.5s;
    margin-bottom:20px;}

    .cards{  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  padding: 40px;}


.fa-solid.fa-robot{
    font-size:27px;
    margin-bottom:20px;}

.fa-solid.fa-road{
    font-size:27px;
    margin-bottom:20px;}

.fa-solid.fa-person{
    font-size:27px;
    margin-bottom:20px;}

.section.alt h3{font-size:20px;}

.section.alt p{font-size:16px;}
    
.view.button{
    display:inline-block;
    margin-top:15px;
    padding:10px 20px;
    box-shadow: 0 0 2px #fff, 0 0 4px #ffffff, 0 0 14px rgb(255, 255, 255);
    color:#ffffff;
    background-color:#0b1025 ;
    border-radius:5px;
    text-decoration:none;
    font-weight:bold;
    transition: transform 0.3s ease-in-out;
}
 .view.button:hover{
    transform:scale(1.05);
    background-color: #5faaff;
}



.card:hover{transform:scaleX(1.05)}

.member-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    object-fit: cover;
    border: 3px solid #5392aa;
    transition: transform 0.3s ease-in-out;
}



.member-img:hover {
    transform: scale(1.03);
}

.team-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 30px;
    padding: 20px;
}

.member{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
    background: transparent;
    transition: transform 0.3s;
}

.member h4 {
    font-size: 18px;
    margin: 15px 0 8px 0;
    color: #5fc2ff;
    font-weight: 600;
}

.member p {
    font-size: 14px;
    color: #b144a8;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.member:hover{transform:scale(1.05);}

.contact.form{display:flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    max-width: 500px;
    align-items: center;
   margin:0 auto}


.contact.form input,.contact.form textarea{padding:12px;
    width:500px;
    border-radius: 5px;
    background-color:#14181f;
    color:#fff;
    justify-content: center;
    align-items: center;}

.footer {
    background: linear-gradient(180deg, #0a0f2c, #000);
    color: #cfd8ff;
    padding: 60px 20px 20px;
    font-family: 'Segoe UI', sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.logo {
    color: #5392aa;
    font-size: 26px;
    margin-bottom: 15px;
}

.logo span {
    color: #ffffff;
}

.footer-about p {
    line-height: 1.7;
    font-size: 14px;
    margin-bottom: 20px;
}

.social-icons a {
    color: #cfd8ff;
    margin-right: 15px;
    font-size: 18px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #5392aa;
}

.footer-links h3,
.footer-contact h3 {
    margin-bottom: 15px;
    color: #ffffff;
}

.footer-links a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #cfd8ff;
    font-size: 14px;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #5392aa;
    padding-left: 6px;
}

.footer-contact p {
    margin-bottom: 12px;
    font-size: 14px;
    display:flex;
    flex-direction: column;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.1);
    margin-top: 40px;
    padding-top: 15px;
    font-size: 13px;
    color: #7a7a7a;
}

.footer-contact{ display:grid;
     grid-template-columns: 1fr;
    gap:10px;}



.btn.send{
    color:#ffffff;
    padding:12px ;
    border-radius: 5px;
    width:500px;
    font-weight: bold;
    transition: transform 0.3s ease;
     background-image: linear-gradient(to right, #5fc2ff, #b144a8);
    
}

.btn.send:hover {
    background-image: linear-gradient(to right, #ee63e2, #5faaff); 
}

.btn.send:hover{transform:scale(1.03);}
.git{
    margin-top:10px;
    text-align: left;
    font-size: 14px;
}
@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-right {
    align-items: center;
  }
}

